@import url('./tailwind.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

:root {
  font-family: 'Noto Sans', sans-serif;
  color: #222222;
  background-color: rgb(221 214 254);
}

pre {
  overflow: auto;
  padding: 2px;
  white-space: pre-wrap;
  overflow-wrap: anywhere;
}

pre > code {
  white-space: pre-wrap;
  overflow-wrap: anywhere;
}

p > a {
  text-decoration: underline;
}

p > a:visited,
.story-link:visited {
  color: #777777;
}
